<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="ROBOTS" content="NOINDEX"/>
<% var title = "Fog Display | "; %>
<% var dir ="../../"; %>
<% var url ="works/fogdisplay/"; %>
<% var image_url ="works/fogdisplay/img/img1.png"; %>
<% var description ="フォグディスプレイの霧の形状を予測し、変化するスクリーンの形状に合わせて映像を投影することを目指し、実装と開発を行いました。"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container-fluid" style="margin-bottom:10px">
    
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img1.png">
            <img class="work_img img-responsive" src="./img/Image.jpg" >
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <h2>卒業研究 (高専)</h2>
            <p>フォグディスプレイの霧の形状を予測し、変化するスクリーンの形状に合わせて映像を投影することを目指し、実装と開発を行いました。調査実験を経て、当初の目的を達成できていることを確認し、インタラクション2017にて展示発表を行いました。</p>
            <h3><span class="glyphicon glyphicon-user"></span>担当</h3>
            <p>フォグディスプレイの装置制作 / 投影するコンテンツ制作 / 研究 / 論文</p>
            <h3><span class="glyphicon glyphicon-wrench"></span>使用ツール</h3>
            <p>Unity</p>
            <h3><span class="glyphicon glyphicon-link"></span>外部リンク</h3>
            <p><a href="http://www.interaction-ipsj.org/2017/" target="_blank">インタラクション2017</a></p>
            <h3><span class="glyphicon glyphicon-bookmark"></span>その他</h3>
            <p>インタラクション2017 インタラクティブ発表(3日目) 投票上位</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>