.container {
    background: #FFFFFF;
    margin-bottom: 15px;
}

.works_img {
    padding: 10px;
}

.works_detail {
    padding: 10px;
}

.works_detail h3 {
    padding-bottom: 10px;
    border-bottom: solid 1px #E0E0E0;
}

.works_detail p {
    color: #7F7F7F;
}

.works_discription {
    padding: 5px;
    margin-bottom: 50px;
}

.reset {
	font-family: "Open Sans","Helvetica Neue",
	Helvetica,Arial,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3",
	"Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}