<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Mealie | "; %>
<% var dir ="../../"; %>
<% var url ="works/mealie/"; %>
<% var image_url ="works/mealie/img/img1.png"; %>
<% var description ="Mealieは教室に備え付けられたタブレット端末から食堂の食券を予約することができるサービスです。"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container" style="margin-bottom:10px">
      <div class="row work_title">
         <h2>学食食券オンライン予約システム 「Mealie - ミライ -」</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div style="padding-top: 0px">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/MiFkeutR3ZU" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <p>Mealieは教室に備え付けられたタブレット端末から食堂の食券を予約することができるサービスです。</p>
            <p>U-22プログラミングコンテストの最終審査会でプレゼンテーションを担当しました。</p>
          </div>
        </div>
      </div>

      <div class="row col-xs-12">
        <div class="work_caption">
          <h3><span class="glyphicon glyphicon-link"></span>Webサイト</h3>
          <p><a href="http://dream-exp.net/works/mealie/" target="_blank">Mealie | dream-exp.net</a></p>
          <h3><span class="glyphicon glyphicon-user"></span>担当</h3>
          <p>Presentation</p>
          <h3><span class="glyphicon glyphicon-bookmark"></span>Achievement</h3>
          <p><a href="http://www.u22procon.com/report/index.html" target="_blank">U-22プログラミング・コンテスト2016 経済産業省商務情報政策局長賞</a></p>
          <p><a href="http://www.u22procon.com/report/index.html" target="_blank">U-22プログラミング・コンテスト2016 OBC賞</a></p>
        </div>
      </div>

      <div class="row">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/LiJOSxVTVIS2rZ" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/ShunnosukeKataoka/u222016mealie-84964898" title="U-22プログラミングコンテスト2016「Mealie」発表スライド" target="_blank">U-22プログラミングコンテスト2016「Mealie」発表スライド</a> </strong> from <strong><a href="https://www.slideshare.net/ShunnosukeKataoka" target="_blank">Shunnosuke Kataoka</a></strong> </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img1.png">
            <img class="work_img img-responsive" src="./img/img1.png" >
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img2.png">
            <img class="work_img img-responsive" src="./img/img2.png" >
          </a>
        </div>
      </div>
    </div>
  </section>

</body>
</html>