<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Mealie | "; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container-fluid" style="margin-bottom:10px">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div style="padding-top: 0px">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/MiFkeutR3ZU" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <h2>学食食券オンライン予約システム 「Mealie - ミライ -」</h2>
            <p>Mealieは教室に備え付けられたタブレット端末から食堂の食券を予約することができるサービスです。</p>
            <p>U-22プログラミングコンテストの最終審査会でプレゼンテーションを担当しました。</p>
            <h3><span class="glyphicon glyphicon-user"></span>担当</h3>
            <p>Presentation</p>
            <h3><span class="glyphicon glyphicon-link"></span>外部リンク</h3>
            <p><a href="http://www.u22procon.com/report/index.html" target="_blank">入賞作品概要 - 2016年レポート｜U-22プログラミング・コンテスト2016</a></p>
            <p><a href="http://dream-exp.net/works/mealie/" target="_blank">Mealie | dream-exp.net</a></p>
            <h3><span class="glyphicon glyphicon-bookmark"></span>その他</h3>
            <p> U-22プログラミング・コンテスト2016 経済産業省商務情報政策局長賞</p>
            <p> U-22プログラミング・コンテスト2016 OBC賞</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img1.png">
            <img class="work_img img-responsive" src="./img/img1.png" >
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img2.png">
            <img class="work_img img-responsive" src="./img/img2.png" >
          </a>
        </div>
      </div>
    </div>
  </section>

</body>
</html>