<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "MistFlow | "; %>
<% var dir ="../../"; %>
<% var url ="works/mistflow/"; %>
<% var image_url ="works/arusen/img/Image.jpg"; %>
<% var description ="フォグディスプレイの霧の形状を予測し、変化するスクリーンの形状に合わせて映像を投影することを目指し、実装と開発を行いました。"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">　meo-cs.net</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://meokz.hatenablog.com/" target="_blank">Blog</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="section section-defalut">
    <div class="container" style="margin-bottom:10px">
      <div class="row work_title">
         <h2>MistFlow</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/Image.jpg">
            <img class="work_img img-responsive" src="./img/Image.jpg" >
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <p>霧の形状を推定し，変化する霧スクリーンの形状に合わせて映像を投影します。インタラクション2017にてデモ及び展示発表を行いました。SIGGRAPH Asia 2017にてポスター発表を行います。</p>
            <h3><span class="glyphicon glyphicon-link"></span>Webサイト</h3>
            <p></p>
            <h3><span class="glyphicon glyphicon-user"></span>担当</h3>
            <p>フォグディスプレイの装置制作 / 投影するコンテンツ制作 / 研究 / 論文</p>
            <h3><span class="glyphicon glyphicon-wrench"></span>使用ツール</h3>
            <p>Unity</p>
            <h3><span class="glyphicon glyphicon-bookmark"></span>成績</h3>
            <p>Kazuki Otao and Takanori Koga. 2017. MistFlow : A Fog Display for Visual- ization of Adaptive Shape-Changing Flow. In Proceedings of SA ’17 Posters. ACM, New York, NY, USA, 2 pages. https://doi.org/10.1145/3145690.3145696 (to appear)</p>
            <p><a href="http://www.interaction-ipsj.org/proceedings/2017/data/bib/3-504-21.html" target="_blank">大峠和基, 古賀崇了. “霧の形状変化に適応した映像投影を実現するインタラクティブフォグディスプレイの基礎的検討”. 情報処理学会インタラクション2017. 2017, p.752-757.</a></p>
            <p><a href="http://www.interaction-ipsj.org/2017/award/">インタラクション2017 インタラクティブ発表(3日目) 投票上位</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>