/* Override Bootstrap */
@media (min-width:  768px) { .container { width: 750px; } }
@media (min-width:  992px) { .container { width: 750px; } } 
@media (min-width: 1200px) { .container { width: 750px; } }

/* My CSS */
.work_img {
    padding: 5px;
}

.work_caption {
    margin-bottom: 50px;
}

.work_caption h2 {
    font-size: 30px;
    font-weight: normal;
    color: #3F4F51;
    margin: 0;
    padding: 10px 0 10px;
    border-bottom: solid 1px #E0E0E0;
}

.work_caption h3 {
    font-size: 18px;
    font-weight: normal;
    color: #4A4A4A;
    margin: 0;
    padding: 10px 0 10px;
    border-bottom: solid 1px #E0E0E0;
}

.work_caption h3 span {
    margin-right: 10px;
}

.work_caption p {
    font-size: 16px;
    color: #4A4A4A;
    margin: 0;
    padding: 5px;
    margin-bottom: 5px;
}
