<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Re:ink | "; %>
<% var dir ="../../"; %>
<% var url ="works/reink/"; %>
<% var image_url ="works/reink/img/img_img.jpg"; %>
<% var description ="徳山高専の機会電気工学科, 情報電子工学科, 土木建築工学科の3つの学科がそれぞれの技術を生かし、1つの作品を創り上げるメイン企画.今年のタイトルは「Re:ink」真っ白になった工場を来場者の手によって蘇らせる企画です。"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container-fluid" style="margin-bottom:10px">
      <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-12 col-sm-6">
          <div style="padding-top: 0px">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/tylQ3OqYGl4" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <a class="thumbnail" href="./img/img_top.jpg">
            <img src="./img/img_top.jpg" class="img-responsive">
          </a>
          <a class="thumbnail" href="./img/img4.jpg">
            <img src="./img/img4.jpg" class="img-responsive">
          </a>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <h2>Re:ink</h2>
            <p>徳山高専の機会電気工学科, 情報電子工学科, 土木建築工学科の3つの学科がそれぞれの技術を生かし、1つの作品を創り上げるメイン企画.</p>
            <p>今年のタイトルは「Re:ink」</p>
            <p>真っ白になった工場を来場者の手によって蘇らせる企画です。本企画はゲームブースとプロジェクションマッピングブースに分かれています。ゲームブースでディジタル体感型ゲームを進めていき、工場のエネルギーとなる「花」を集めます。その成績によってプロジェクションマッピングブースで投影される映像がインタラクティブに変化します。</p>
            <p>ディジタル体感型ゲームでは、来場者が「ジャンプ」「左右に避ける」「パンチする」などのジェスチャーを行うことでゲームを進めます。Kinectを使用することにより、自身の体を動かしながらゲームを楽しむことが出来ます。</p>
            <p>プロジェクションマッピングには４台のプロジェクターを使用しており、ネットワーク通信で映像が同期されています。また、インタラクティブ性を持たせるため、映像はリアルタイムにレンダリングされたものを投影しています。プロジェクションマッピングに使用されている工場模型はスチレンボードで作られています。横幅は約３ｍ，奥行き約２m，高さは約1.7mで、設計から制作までを土木建築工学科の学生が担当しました。</p>
            <p>ゲームを行うことにより集めた「花」は全自動センサ馬車型ロボットが工場模型まで運びます。この馬車ロボットの馬はテオヤンセン機構を応用して動かしています。お腹の下についているセンサで道路のラインに沿って進み、２頭の馬のスピードを変えることで左右に曲がることもできます。</p>
            <p>ゲームブースとプロジェクションマッピングブースは1/25モデルの高架橋が繋ぎます。この高架橋は設計から制作までを土木建築工学科の学生が担当し、機械電気工学科の学生がLEDで装飾を施しています。</p>
            <p>自身は工場模型に投影する映像(プログラム)の制作、プロジェクションマッピングのキャリブレーションを担当しました.映像の制作にはUnityが使われており、リアルタイムにレンダリングできること、プログラマブルなことを活かして、ゲームブースの結果に連動したインタラクティブな映像を生み出すことができます.
また、ソケット通信を行うことにより、MacbookPro×3とMac mini×1の計4台のPC及びプロジェクターを同期させています.</p>
            <p>今年も中国新聞社様に取材をして頂きました.</p>
            <h3><span class="glyphicon glyphicon-user"></span>担当</h3>
            <p>Scripting / Motion Graphics / Projection Mapping</p>
            <h3><span class="glyphicon glyphicon-wrench"></span>使用ツール</h3>
            <p>Unity / C# / Blender / MeshWarpServer etc.</p>
            <h3><span class="glyphicon glyphicon-link"></span>外部リンク</h3>
            <p><a href="http://meokz.hatenablog.com/entry/2015/reink" target="_blank">Unityでプロジェクションマッピングをした話</a>
            <p><a href="http://maoudamashii.jokersounds.com/">全曲無料・フリー音楽素材/魔王魂</a>（音源を使用させて頂きました）</p>
            <h3><span class="glyphicon glyphicon-bookmark"></span>その他</span></h3>
            <p>2015年 高専祭メイン企画</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img2.jpg">
            <img src="./img/img2.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img3.jpg">
            <img src="./img/img3.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img_uma.jpg">
            <img src="./img/img_uma.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img_hashi.jpg">
            <img src="./img/img_hashi.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img_projection.jpg">
            <img src="./img/img_projection.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img_paper.jpg">
            <img src="./img/img_paper.jpg" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>