/* Override Bootstrap */
header.jumbotron {
    background: url("./../img/jumbotron2.jpg");
    background-position: center 60%;
    background-size: cover;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

header .container {
	margin: 10%;
}

.navbar {
    margin-bottom: 0;
}

.row {
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}

.reset {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
/* My CSS */
.work {
    margin: 5px;
}

.work_img {
    margin: 0;
    overflow: hidden;
}

.work_img img {
    -moz-transition: -moz-transform 0.5s ease-out;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.work_img img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.work_caption{
    padding: 1% 1% 1% 1%;
}

.work_caption h2 {
    font-size: 20px;
    font-weight: normal;
    color: #4A4A4A;
    margin: 0;
    padding: 10px 0 10px;
    border-bottom: solid 1px #E0E0E0;
}

.work_caption p {
    font-size: 16px;
    color: #8F8F8F;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
}

.work_caption span {
    margin-right: 7px;
}