<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "あるせん | "; %>
<% var dir ="../../"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container-fluid" style="margin-bottom:10px">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img2.jpg">
            <img class="work_img img-responsive" src="./img/img2.jpg" >
          </a>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <h2>あるせん</h2>
            <p>高専でありがちな川柳をGoogle Chromeの上から投稿・閲覧・いいねできるChrome拡張機能です。</p>
            <h3><span class="glyphicon glyphicon-link"></span>外部リンク</h3>
            <p><a href="https://kosen.team-lab.com/" target="_blank">チームラボオンラインハッカソン</a> (2015)</p>
            <h3><span class="glyphicon glyphicon-bookmark"></span>その他</h3>
            <p>チームラボオンラインハッカソン (2015) 優秀賞</p>
          </div>
        </div>
      </div>
  </section>

</body>
</html>