<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Radio | "; %>
<% var dir ="../"; %>
<% var url ="radio"; %>
<% var image_url ="radio/img/mistflow.jpg"; %>
<% var description ="Radio"; %>
<% include ./../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<script>
$(function(){
  $("#btn_submit").click(function(){

    var url = 'https://hooks.slack.com/services/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';

    var name = $("#name").val()
    var message = $("#message").val()

    if (name == "") {
      alert("名前を入力してください")
      return;
    }

    if(message == "") {
      alert("おたよりを入力してください");
      return;
    }

    var JSONdata = {
        'text': message,
        'username': name,  
        'icon_emoji': ':yatta:',
        'link_names': 1
    };

    $.ajax({
      type : 'POST',
      url : url,
      data : JSON.stringify(JSONdata),
    }).done(function (data) {
      alert("おたよりの送信に成功しました！")
      // console.log(data);
    }).fail(function (error) {
      alert("おたよりの送信に失敗しました")
    });

  });
});
</script>

<body>
<% include ./../ejs/nav %>

  <header class="jumbotron">
    <div class="container">
      <!-- <h1>meo-cs.net</h1> -->
      <!-- <p>Kazuki OTAO Portforlio.</p> -->
      <!-- <p>　</p> -->
    </div>
  </header>

  <section class="section section-defalut">
    <div class="container">
      <h2>ラジたお</h2>

      <p>ラジたおでは，毎週火曜23:00よりパーソナリティの大峠和基がテクロジーやアートの話題についてゲストと好き勝手にお話します。</p>
      <p>ハッシュタグは #ラジたお！下のお便りフォームからお便りもお待ちしています！</p>

      <div style="border: solid 1px #D2D2D2; margin:5px; padding: 5px;">
        <h3>お便り送信フォーム</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <label>ラジオネーム</label>
            <input id="name" value="匿名" >
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>おたより内容</label>
            <textarea id="message"></textarea>
          </div>
          <div class="col-xs-12 col-sm-4">
            <button id="btn_submit" class="btn btn-primary">送信</button>
          </div>
        </div>
      </div>
    </form>

    <h3>ラジたお</h3>
    <ol>
      <li>
        第1回の放送は11/27！
      </li>
    </ol>

    <h2>過去の生配信</h2>

    <h3>落合陽一先生との生配信</h3>
    <ol>
      <li>
        <a href="https://www.pscp.tv/TC_Mr4_2018/1MYGNqlgdNbKw" target="_blank">落合陽一 @ochyai #02</a>
      </li>
      <li>
        <a href="https://www.pscp.tv/TC_Mr4_2018/1MYxNqVwpqbJw" target="_blank">落合陽一 @ochyai #01</a>
      </li>
    </ol>

    <h3>つくコレコラボ配信</h3>
    <ol>
      <li>
        <a href="https://www.pscp.tv/TC_Mr4_2018/1RDGlqeYDgkJL" target="_blank">ミス No.4 はせみん @TC_Miss4_2018 #03</a>
      </li>
      <li>
        <a href="https://www.pscp.tv/TC_Mr4_2018/1kvJpamyMqQxE" target="_blank">ミスター No.1 小柴崚 @TC_Mr1_2018</a>
      </li>
      <li>
        <a href="https://www.pscp.tv/TC_Mr4_2018/1kvJpaAvqYMxE" target="_blank">ミスター No.2 薄田興平(ダニエル) @TC_Mr2_2018</a>
      </li>
      <li>
        <a href="https://www.pscp.tv/TC_Mr4_2018/1lDxLXyRgRPxm" target="_blank">ミス No.4 はせみん @TC_Miss4_2018 #01</a>
      </li>
    </ol>
    </div>
  </section>

</body>
</html>