<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = ""; %>
<% var dir ="../"; %>
<% var url ="recruit"; %>
<% var image_url ="res/img/jumbotron2.jpg"; %>
<% var description ="Here is Kazuki OTAO's Portforlio for Recruit."; %>
<% include ./../ejs/head %>
  <link href="res/style.css" rel="stylesheet">
</head>

<body>
<% include ./../ejs/nav %>

  <header class="jumbotron">
    <div class="container">
      <h1>meo-cs.net</h1>
      <p>Kazuki OTAO Portforlio.</p>
      <p>　</p>
    </div>
  </header>

  <section class="section section-defalut">
    <div class="container">

      <div id="project"></div>
    </div>
  </section>

<script>
$(window).on("load",function(){
  
  $.getJSON("res/data/projects.json", function(data, status) {

    var project = $("#project");
  

    $.each(data, function(i, parent) {

      var count = 0;
      var row;
      project.append($("<h2></h2>").html(i));
      
      $.each(parent, function(i, item) {
        if (count % 3 == 0) {
          row = $("<div></div>", {
            'class': 'row'
          });
        }

        var work = $('<div></div>', {
          'class' : "col-xs-12 col-sm-4"
        })
        .html(
          '<div class="work">' + 
          '<a class="work_img thumbnail" href="' + item.url + '">' + 
          '<img class="img-responsive" src="' + item.url + '/thumbnail.jpg' + '">' +
          '</a>' + 
          '<div class="work_caption">' + 
          '<h3>' + item.title + '</h3>' + 
          '<p><span class="glyphicon glyphicon-time"></span>' + item.date + '</p>' +
          '<p><span class="glyphicon glyphicon-user"></span>' + item.people + '人</p>' + 
          '<p><span class="glyphicon glyphicon-check"></span>' + item.description + '</p>' + 
          '</div>' + 
          '</div>');

        row.append(work);
        
        count += 1;
        if (count % 2 == 0) {
          project.append(row);
        }

      });

      project.append(row);
    });
  })
});
</script>

</body>
</html>