<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Smart枕 | "; %>
<% var dir ="../../"; %>
<% var url ="works/smartmakura/"; %>
<% var image_url ="works/smartmakura/img/img1.jpg"; %>
<% var description ="Smart枕は、Android端末と枕型デバイスが連携する新しいライフハックプロダクトです。"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container" style="margin-bottom:10px">
      <div class="row work_title">
         <h2>Smart枕</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div style="padding-top: 0px">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/MoNLpyuXeA8" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <p>Smart枕は、Android端末と枕型デバイスが連携する新しいライフハックプロダクトです。枕型デバイスに組み込まれた圧力センサとバイブレーションを用いてユーザを確実に起こすとともに、睡眠情報を記録し、最適な睡眠時間を教えてくれます。</p>
            <p>開発ではAndroidアプリケーション本体を担当. パソコン甲子園本選ではプレゼンテーションを担当しました.</p>
          </div>
        </div>
      </div>

      <div class="row col-xs-12">
        <div class="work_caption">
          <h3><span class="glyphicon glyphicon-user"></span>担当</h3>
          <p>Android Programming / Presentatoin</p>
          <h3><span class="glyphicon glyphicon-link"></span>Web</h3>
          <p><a href="http://dream-exp.net/works/smartmakura/" target="_blank">Smart枕 | dream-exp.net</a></p>
          <h3><span class="glyphicon glyphicon-file"></span>Documents</h3>
          <p><a href="./manual.pdf" target="_blank">Manual [PDF 4.1MB]</a></p>
          <h3><span class="glyphicon glyphicon-wrench"></span>Used Tools</h3>
          <p>eclipse / Java etc.</p>
          <h3><span class="glyphicon glyphicon-bookmark"></span>Achievement</span></h3>
          <p><a href="http://web-ext.u-aizu.ac.jp/pc-concours/2014hon/final/f_finalteam.html" target="_blank">第12回全国高等学校パソコンコンクール, パソコン甲子園2014, モバイル部門, 本選出場</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img1.jpg">
            <img src="./img/img1.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img4.jpg">
            <img src="./img/img4.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img2.jpg">
            <img src="./img/img2.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img3.jpg">
            <img src="./img/img3.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/img5.png">
            <img src="./img/img5.png" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </section>

</body>
</html>