<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Air Mounted Eyepiece | "; %>
<% var dir ="../../"; %>
<% var url ="works/airmountedeyepiece/"; %>
<% var image_url ="works/airmountedeyepiece/img/Image.jpg"; %>
<% var description ="Transmissive Mirror Device based Head-Mounted Display"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row work_title">
         <h2>Air Mounted Eyepiece</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div style="padding-top: 0px">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/fvUzAeQL9uA" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <p>This research presents a Transmissive Mirror Device based Head-Mounted Display. We employ TMD instead of conventional optical elements such as half-mirror, free-from optics, and waveguide. It realizes wide viewing angle because it enabled shorten optical path length between the eyeball and the virtual lens.</p>
            <p>Augmented Human 2018で登壇発表を行いました。SIGGRAPH 2018にてデモンストレーション展示を行います。Seamless様，PANORA VR様，Mogura VR様に記事を掲載して頂きました。</p>
          </div>
        </div>
      </div>

      <div class="row col-xs-12">
        <div class="work_caption">
          <h3><span class="glyphicon glyphicon-link"></span>Web</h3>
          <p><a href="http://digitalnature.slis.tsukuba.ac.jp/2017/10/air-mounted-eyepiece/" target="_blank">Air Mounted Eyepiece - Digital Nature Group</a></p>
          <h3><span class="glyphicon glyphicon-file"></span>Documents</h3>
          <p><a href="./2018-ah-ame.pdf" target="_blank">Augmented Human 2018 Long Paper Preprint [PDF 4.7MB]</a></p>
          <p>SIGGRAPH 2018 Two-page Abstract [PDF (to appear)]</p>
          <p><a href="./2017-arxiv-ame.pdf" target="_blank">Arxiv e-Print [PDF 1.2MB]</a></p>
          <h3><span class="glyphicon glyphicon-wrench"></span>Used Tools</h3>
          <p></p>
          <h3><span class="glyphicon glyphicon-list"></span>Publication</h3>
          <p><a href="https://doi.org/10.1145/3214907.3214908" target="_blank"><u>Kazuki Otao</u>, Yuta Itoh, Kazuki Takazawa, Hiroyuki Osone, and Yoichi Ochiai. 2018. Transmissive Mirror Device based Near-Eye Displays with Wide Field of View. In <em>SIGGRAPH ’18 Emerging Technologies</em> (SIGGRAPH ’18). ACM, New York, NY, USA, 2 pages. DOI: https://doi.org/10.1145/3214907.3214908 (to appear) </a></p>
          <p><a href="https://doi.org/10.1145/3174910.3174911" target="_blank"><u>Kazuki Otao</u>, Yuta Itoh, Kazuki Takazawa, Hiroyuki Osone, and Yoichi Ochiai. 2018. Air Mounted Eyepiece: Optical See-Through HMD Design with Aerial Optical Functions. In <em>Proceedings of the 9th Augmented Human International Conference</em> (AH ’18). ACM, New York, NY, USA, Article 1, 7 pages. DOI: https://doi.org/10.1145/3174910.3174911</a></p>
          <p><a href="https://arxiv.org/abs/1710.03889" target="_blank">Yoichi Ochiai, <u>Kazuki Otao</u>, Hiroyuki Osone. 2017. Air Mounted Eyepiece: Design Methods for Aerial Optical Functions of Near-Eye and See-Through Display using Transmissive Mirror Device. In <em>ArXiv e-prints</em>. https://arxiv.org/abs/1710.03889</a></p>
          <h3><span class="glyphicon glyphicon-leaf"></span>Media</h3>
          <p><a href="http://www.moguravr.com/pixiedusttech-ar/" target="_blank">落合陽一氏ら、AR向け技術を続々発表 キーワードは広視野・透過型, http://www.moguravr.com/pixiedusttech-ar/, Mogura VR, 2017.11.24</a></p>
          <p><a href="http://panora.tokyo/43491/" target="_blank">筑波大デジタルネイチャーグループら、新しい空中映像表示技術「Air Mounted Eyepiece」発表, http://panora.tokyo/43491/, PANORA VR, 2017.10.30</a></p>
          <p><a href="http://shiropen.com/2017/10/27/29009" target="_blank">筑波大学（Digital Nature Group）、広視野角の光学シースルーHMDを実現するための新手法「AME」を論文にて発表。VRクオリティを空中で再現, http://shiropen.com/2017/10/27/29009, Seamless, 2017.10.27</a></p>
        </div>
      </div>

<!--       <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/Image.jpg">
            <img class="work_img img-responsive" src="./img/Image.jpg" >
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">

        </div>
      </div> -->

    </div>
  </section>

</body>
</html>