<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="ROBOTS" content="NOINDEX"/>
<% var title = "MistFlow | "; %>
<% var dir ="../../"; %>
<% var url ="works/mistflow/"; %>
<% var image_url ="works/fogdisplay/img/Image.jpg"; %>
<% var description ="フォグディスプレイの霧の形状を予測し、変化するスクリーンの形状に合わせて映像を投影することを目指し、実装と開発を行いました。"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container" style="margin-bottom:10px">
      <div class="row work_title">
         <h2>MistFlow</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div style="padding-top: 0px">
            <div class="video">
              <iframe src="https://www.youtube.com/embed/YwNEVw1YgCY" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="work_caption">
            <p>This research presents a fog display for visualization of adaptive shape-changing flow.</p>
            <p>霧の形状を推定し，変化する霧スクリーンの形状に合わせて映像を投影します。インタラクション2017にてデモ及び展示発表を行いました。SIGGRAPH Asia 2017にてポスター発表を行いました。</p>
          </div>
        </div>
      </div>

      <div class="row col-xs-12">
        <div class="work_caption">
          <h3><span class="glyphicon glyphicon-link"></span>Attachment</h3>
          <p><a href="./poster-sa17.pdf" target="_blank">Poster (SIGGRAPH Asia 2017)</a></p>
          <h3><span class="glyphicon glyphicon-wrench"></span>Used Tools</h3>
          <p>Unity</p>
          <h3><span class="glyphicon glyphicon-bookmark"></span>Achievement and Publication</h3>
          <p><a href="https://doi.org/10.1145/3145690.3145696" target="_blank"><u>Kazuki Otao</u> and Takanori Koga. 2017. Mistflow: a fog display for visualization of adaptive shape-changing flow. In <em>SIGGRAPH Asia 2017 Posters</em> (SA '17). ACM, New York, NY, USA, Article 17, 2 pages. DOI: https://doi.org/10.1145/3145690.3145696</a></p>
          <p><a href="http://www.interaction-ipsj.org/proceedings/2017/data/bib/3-504-21.html" target="_blank"><u>大峠和基</u>, 古賀崇了. “霧の形状変化に適応した映像投影を実現するインタラクティブフォグディスプレイの基礎的検討”. 情報処理学会インタラクション2017. 2017, p.752-757.</a></p>
          <p><a href="http://www.interaction-ipsj.org/2017/award/" target="_blank">インタラクション2017 インタラクティブ発表(3日目) 投票上位</a></p>
          <p>徳山高専 卒業研究最終発表 1位 (総合1位)</p>
          <p>徳山高専 卒業研究中間発表 1位</p>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="thumbnail" href="./img/Image.jpg">
            <img class="work_img img-responsive" src="./img/Image.jpg" >
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">

        </div>
      </div>
    </div>

  </section>
</body>
</html>