<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "ArtWorks2014 | "; %>
<% var dir ="../../"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>ArtWorks2014</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Piano</h3>
            <p><span class="glyphicon glyphicon-wrench"></span>Blender</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/09/07</p>
            <a class="thumbnail" href="./img/piano1.jpg">
              <img src="./img/piano1.jpg" class="img-responsive">
            </a>
            <a class="thumbnail" href="./img/piano2.jpg">
              <img src="./img/piano2.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>IvyGuiter</h3>
            <p><span class="glyphicon glyphicon-wrench"></span>Blender</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/08/20</p>
            <a class="thumbnail" href="./img/ivyguiter.jpg">
              <img src="./img/ivyguiter.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Tower</h3>
            <p><span class="glyphicon glyphicon-wrench"></span>Blender</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/04/20</p>
            <a class="thumbnail" href="./img/tower.jpg">
              <img src="./img/tower.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Moon</h3>
            <p><span class="glyphicon glyphicon-wrench"></span>Blender / Photoshop</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/02/10</p>
            <a class="thumbnail" href="./img/moon.jpg">
              <img src="./img/moon.jpg" class="img-responsive">
            </a>
            <a class="thumbnail" href="./img/moon_dark.jpg">
              <img src="./img/moon_dark.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>


</body>
</html>