<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "ArtWorks2015 | "; %>
<% var dir ="../../"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>ArtWorks2015</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Math</h3>
            <p><span class="glyphicon glyphicon-align-left"></span>友人のTwitterヘッダー用に制作</p>
            <p><span class="glyphicon glyphicon-wrench"></span>AviUtl</p>
            <p><span class="glyphicon glyphicon-time"></span>2015/05/08</p>
            <a class="thumbnail" href="./img/yousay_ver2.jpg">
              <img src="./img/yousay_ver2.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Building</h3>
            <p><span class="glyphicon glyphicon-wrench"></span>Blender</p>
            <p><span class="glyphicon glyphicon-time"></span>2015/02/18</p>
            <a class="thumbnail" href="./img/building.jpg">
              <img src="./img/building.jpg" class="img-responsive">
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

</body>
</html>