<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Light Field Blender | "; %>
<% var dir ="../../"; %>
<% var url ="works/metamateglass/"; %>
<% var image_url ="works/metamateglass/img/Image.jpg"; %>
<% var description ="Near-eye Aerial Light Field Rendering"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row work_title">
         <h2>Light Field Blender</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <a class="thumbnail" href="./img/img2.jpg">
            <img class="work_img img-responsive" src="./img/Image.jpg" >
          </a>
        </div>

        <div class="col-xs-12 col-sm-7">
          <div class="work_caption">
            <p>Light Field Blenderは拡張現実のための新しいヘッドマウントディスプレイです。Ars Electronica 2017で実機のデモ展示を行いました。SIGGRAPH Asia 2017で登壇発表を行います。</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="work_caption">
          <h3><span class="glyphicon glyphicon-link"></span>Webサイト</h3>
          <p><a href="http://digitalnature.slis.tsukuba.ac.jp/2017/09/metamate-glass/" target="_blank">Light Field Blender - Digital Nature Group</a></p>
          <h3><span class="glyphicon glyphicon-bookmark"></span>成績</h3>
          <p>Kazuki Otao, Yuta Itoh, Hiroyuki Osone, Kazuki Takazawa, Shunnosuke Kataoka, and Yoichi Ochiai. 2017. Light Field Blender: Designing Optics and Rendering Methods for See-Through and Aerial Near-Eye Display. In SA ’17 Technical Briefs: SIGGRAPH Asia 2017 Technical Briefs, November 27–30, 2017, Bangkok, Thailand. ACM, New York, NY, USA, 4 pages. https://doi. org/10.1145/3145749.3149425 (to appear)</p>
          <p><a href="https://www.aec.at/ai/de/recomposition-of-human-presence/"" target="_blank">Ars Electronica Festival 2017 Recomposition of Human Presence: Waves, Material, and Intelligence</a></p>
        </div>
      </div>
    </div>
  </section>

</body>
</html>