<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Immsersive Light Field | "; %>
<% var dir ="../../"; %>
<% var url ="works/metamateglass/"; %>
<% var image_url ="works/metamateglass/img/Image.jpg"; %>
<% var description ="Near-eye Aerial Light Field Rendering"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row work_title">
         <h2>Immsersive Light Field : Near-eye Aerial Light Field Rendering</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <a class="thumbnail" href="./img/img2.jpg">
            <img class="work_img img-responsive" src="./img/Image.jpg" >
          </a>
        </div>

        <div class="col-xs-12 col-sm-7">
          <div class="work_caption">
            <p>We introduce a novel Head-Mounted Display design for near-eye see-through display for augmented reality. Instead of conventional optical elements, we employ Transmissive Mirror Device (TMD) plate which usually used for aerial imaging. This Head-Mounted Display system render an image in the air, and allows to blend the aerial light field image and the environment scenery.</p>
            <p>“Immersive Light Field” は，拡張現実のための新しいヘッドマウントディスプレイです。今までに使用された光学素子の代わりに，透過型ミラーデバイス（TMD）プレートと呼ばれる新しいメタマテリアルミラーを使用します。通常は空中実像システムに使用されるこのTMDプレートを，ヘッドマウントディスプレイに応用する初めての試みです。私達のヘッドマウントディスプレイは，空中にLight Fieldをレンダリングし，現実世界とブレンドすることで，現実世界とコンピュータグラフィクスの境を曖昧にします。</p>
            <h3><span class="glyphicon glyphicon-link"></span>外部リンク</h3>
            <p><a href="http://digitalnature.slis.tsukuba.ac.jp/2017/09/metamate-glass/" target="_blank">プロジェクトページ</a></p>
            <h3><span class="glyphicon glyphicon-bookmark"></span>その他</h3>
            <p>Ars Electronica Festival 2017 <a href="https://www.aec.at/ai/de/recomposition-of-human-presence/"" target="_blank">Recomposition of Human Presence: Waves, Material, and Intelligence</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>