<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="ROBOTS" content="NOINDEX"/>
<% var title = "Profile | "; %>
<% include ../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row">
       <div class="col-xs-12">
        <div class="work_caption">
          <h2>大峠 和基 (Otao Kazuki) - Profile</h2>
          <p>学生エンジニア.</p>

          <h3><span class="glyphicon glyphicon-user"></span>コンタクト</h3>
          <p>kaootao"""@gmail.com"""　(remove ")</p>
          <p>Skype – meokz_</p>

          <h3><span class="glyphicon glyphicon-link"></span>Link</span></h3>
          <p>ポートフォリオ - <a href="/">meo-cs.net</a></p>
          <p>ブログ - <a href="http://meokz.hatenablog.com/" target="_blank">めおしーえす</a></a></p>
          <p>Github - <a href="https://github.com/meokz" target="_blank">meokz</a></p>

          <h3><span class="glyphicon glyphicon-bookmark"></span>資格</h3>
          <p>・基本情報技術者 (2013)</p>
          <p>・応用情報技術者 (2013)</p>
          <p>・TOICE 815点 (2016)</p>

          <h3><span class="glyphicon glyphicon-bookmark"></span>業績</h3>
          <p>・<a href="/works/raziokun/">高専プログラミングコンテスト課題部門 敢闘賞 (2013)</a></p>
          <p>・<a href="/works/smartmakura/">パソコン甲子園2014モバイル部門 本選出場 (2014)</a></p>
          <p>・<a href="/works/pianist/">高専プログラミングコンテスト自由部門 敢闘賞 (2015)</a></p>
          <p>・<a href="/works/mealie/">U-22プログラミング・コンテスト2016 経済産業省商務情報政策局長賞/OBC賞 (2016)</a></p>
          <p>・<a href="/works/fogdisplay/">インタラクション2017インタラクティブ発表 採択 (2017)</a></p>

          <h3><span class="glyphicon glyphicon-bookmark"></span>コンテスト</h3>
          <p>・中国高専英語暗唱・弁論大会 暗唱の部1位 (2012)</p>
          <p>・中国高専コンピュータフェスティバル ソフトウェア部門3位 (2013)</p>
          <p>・中国高専コンピュータフェスティバル メディア部門1位 (2014)</p>
          <p>・<a href="/works/spacewars/">中国高専コンピュータフェスティバル ソフトウェア部門1位 (2015)
          <p>・<a href="/works/blackboard/">中国高専コンピュータフェスティバル メディア部門1位 (2016)</a></p>
          <p>・<a href="/works/arusen/">チームラボオンラインハッカソン 優秀賞 (2015)</p>
          <p>・<a href="/works/drofie/">サイバーエージェントKyotoHack 特別賞 (2016)</a></p>

        </div>
      </div>
  </section>
</body>
</html>