<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="ROBOTS" content="NOINDEX"/>
<% var title = "Profile | "; %>
<% var dir ="../"; %>
<% var url ="profile/"; %>
<% var image_url ="profile/portrait1.jpg"; %>
<% var description ="大峠 和基 (Otao Kazuki) - Profile"; %>
<% include ./../ejs/head_profile %>
  <link href="style.css" rel="stylesheet">
  <script>
  $(function(){
       $(".work").click(function(){
           window.location=$(this).find("a").attr("href");
           return false;
      });
  });
  </script>
</head>

<body>
<% include ../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">

      <div class="profile">
      <h2>Profile</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <a class="thumbnail" href="./img/portrait1.jpg">
            <img class="img-responsive" src="./img/portrait1.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-sm-8">
          <h3>大峠 和基 (Otao Kazuki)</h3>
          <p>筑波大学 情報学群 情報メディア創成学類 3年<br>University of Tsukuba, School of Informatics College of Media Arts, Science and Technology</p>
          <p><a href="http://digitalnature.slis.tsukuba.ac.jp/2017/05/kazuki-otao/" target="_blank">Digital Nature Group 共同研究生</a></p>
        </div>
      </div>
      </div>

      <div class="career">
      <h2>Career</h2>
        <ul>
          <li>1996/06　広島県呉市生まれ</li>
          <li>1998/04　山口県上関町で育つ</li>
          <li>2012/04　徳山工業高等専門学校 情報電子工学科 入学</li>
          <li>2017/03　徳山工業高等専門学校 情報電子工学科 卒業</li>
          <li>2017/04　筑波大学 情報学群 情報メディア創成学類 入学</li>   
        </ul>
      </div>

      <div class="project">
      <h2>Project</h2>
        <div class="row work">
          <div class="col-xs-12 col-sm-4">
            <a class="thumbnail" href="http://meo-cs.net/works/reink/">
              <img class="img-responsive" src="./img/reink.jpg">
            </a>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h3><a href="http://meo-cs.net/works/reink/">Re:ink：干渉可能なプロジェクションマッピング</a></h3>
            <p>Re:inkは真っ白になった工場を学園祭の来場者の手によって蘇らせるインスタレーションです。Unityを用いて映像を生成・同期することで，再生するたびに異なるストーリーが展開します。</p>
          </div>
        </div>

        <div class="row work">
          <div class="col-xs-12 col-sm-4">
            <a class="thumbnail" href="http://meo-cs.net/works/pianist/">
              <img class="img-responsive" src="./img/pianist.jpg">
            </a>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h3><a href="http://meo-cs.net/works/pianist/">Pianist：鍵盤楽器運指練習システム</a></h3>
            <p>PianistはMRデバイスとモーションセンサにより，鍵盤楽器の指運びの練習を支援します。運指情報を自動生成(from MIDI)やクラウドを通じた運指情報の共有も可能です。</p>
          </div>
        </div>

        <div class="row work">
          <div class="col-xs-12 col-sm-4">
            <a class="thumbnail" href="http://meo-cs.net/works/smartmakura/">
              <img class="img-responsive" src="./img/smartmakura.jpg">
            </a>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h3><a href="http://meo-cs.net/works/smartmakura/">Smart枕</a></h3>
            <p>Smart枕はAndroid端末と枕型デバイスが連携する新しいライフハックプロダクトです。枕型デバイスに組み込まれた圧力センサとバイブレーションを用いてユーザを確実に起こすとともに，睡眠情報を記録し，最適な睡眠時間を教えてくれます。</p>
          </div>
        </div>

      </div>

      <div class="link">
      <h2>Link</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <ul>
            <li class="mail"><a href="">kaootao"@"gmail.com</a></li>
            <li class="twitter"><a href="https://twitter.com/0MeO" target="_blank">@0meo</a></li>
            <li class="github"><a href="https://github.com/meokz" target="_blank">meokz</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <ul>
            <li class="blog"><a href="http://meokz.hatenablog.com/" target="_blank">Blog</a></li>
            <li class="facebook"><a href="https://www.facebook.com/kaootao" target="_blank">kaootao</a></li>
            <li class="skype"><a href="">meokz_</a></li>
          </ul>
        </div>
      </div>
      </div>

      <div class="achievement">
      <h2>Achievement</h2>
      <ul>
        <li>・<a href="/works/raziokun/">高専プログラミングコンテスト課題部門 敢闘賞 (2013)</a></li>
        <li>・<a href="/works/smartmakura/">パソコン甲子園2014モバイル部門 本選出場 (2014)</a></li>
        <li>・<a href="/works/pianist/">高専プログラミングコンテスト自由部門 敢闘賞 (2015)</a></li>
        <li>・<a href="/works/mealie/">U-22プログラミング・コンテスト2016 経済産業省商務情報政策局長賞/OBC賞 (2016)</a></li>
        <li>・<a href="/works/fogdisplay/">インタラクション2017インタラクティブ発表 採択 (2017)</a></li>
      </ul>
      </div>

      <div class="contest">
      <h2>Contest</h2>
      <ul>
        <li>・中国高専英語暗唱・弁論大会 暗唱の部1位 (2012)<li>
        <li>・中国高専コンピュータフェスティバル ソフトウェア部門3位 (2013)<li>
        <li>・中国高専コンピュータフェスティバル メディア部門1位 (2014)<li>
        <li>・<a href="/works/spacewars/">中国高専コンピュータフェスティバル ソフトウェア部門1位 (2015)
        <li>・<a href="/works/blackboard/">中国高専コンピュータフェスティバル メディア部門1位 (2016)</a><li>
        <li>・<a href="/works/arusen/">チームラボオンラインハッカソン 優秀賞 (2015)<li>
        <li>・<a href="/works/drofie/">サイバーエージェントKyotoHack 特別賞 (2016)</a><li>
      </ul>
      </div>

      <div class="qualification">
      <h2>Qualification</h2>
      <ul>
        <li>・基本情報技術者 (2013)</li>
        <li>・応用情報技術者 (2013)</li>
        <li>・TOICE 815点 (2016)</li>
      </ul>
      </div>

  </section>
</body>
</html>