<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "ArtWorks | "; %>
<% var dir ="../../"; %>
<% var url ="works/artworks/"; %>
<% var image_url ="works/artworks/img/abstract_2.jpg"; %>
<% var description ="ArtWorks"; %>
<% include ../../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>ArtWorks</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Abstract 2</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Modeling: Grasshopper (Rhinoceros), Rendering: Cycles (Blender)</p>
            <p><span class="glyphicon glyphicon-time"></span> 2018/06/26</p>
            <a class="thumbnail" href="./img/abstract_2.jpg">
              <img src="./img/abstract_2.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Abstract 1</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Modeling: Grasshopper (Rhinoceros), Rendering: Cycles (Blender)</p>
            <p><span class="glyphicon glyphicon-time"></span> 2018/06/25</p>
            <a class="thumbnail" href="./img/abstract_1.jpg">
              <img src="./img/abstract_1.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Math</h3>
            <p><span class="glyphicon glyphicon-align-left"></span> 友人のTwitterヘッダー用に制作</p>
            <p><span class="glyphicon glyphicon-wrench"></span> AviUtl</p>
            <p><span class="glyphicon glyphicon-time"></span> 2015/05/08</p>
            <a class="thumbnail" href="./img/yousay_ver2.jpg">
              <img src="./img/yousay_ver2.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Building</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles</p>
            <p><span class="glyphicon glyphicon-time"></span> 2015/02/18</p>
            <a class="thumbnail" href="./img/building.jpg">
              <img src="./img/building.jpg" class="img-responsive">
            </a>
          </p>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Piano</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles</p>
            <p><span class="glyphicon glyphicon-time"></span> 2014/09/07</p>
            <a class="thumbnail" href="./img/piano1.jpg">
              <img src="./img/piano1.jpg" class="img-responsive">
            </a>
            <a class="thumbnail" href="./img/piano2.jpg">
              <img src="./img/piano2.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>IvyGuiter</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles</p>
            <p><span class="glyphicon glyphicon-time"></span> 2014/08/20</p>
            <a class="thumbnail" href="./img/ivyguiter.jpg">
              <img src="./img/ivyguiter.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Guiter</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles</p>
            <p><span class="glyphicon glyphicon-time"></span> 2014/08/18</p>
            <a class="thumbnail" href="./img/guiter.jpg">
              <img src="./img/guiter.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Tower</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles</p>
            <p><span class="glyphicon glyphicon-time"></span> 2014/04/20</p>
            <a class="thumbnail" href="./img/tower.jpg">
              <img src="./img/tower.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>Moon</h3>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles / Photoshop</p>
            <p><span class="glyphicon glyphicon-time"></span> 2014/02/10</p>
            <a class="thumbnail" href="./img/moon.jpg">
              <img src="./img/moon.jpg" class="img-responsive">
            </a>
            <a class="thumbnail" href="./img/moon_dark.jpg">
              <img src="./img/moon_dark.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="work_caption">
            <h3>MonstarBoll</h3>
            <p><span class="glyphicon glyphicon-align-left"></span> 初めてのオリジナル3DCG. 元画像を無くしたため、画質劣化ver</p>
            <p><span class="glyphicon glyphicon-wrench"></span> Blender / Cycles</p>
            <p><span class="glyphicon glyphicon-time"></span> 2013/07/15</p>
            <a class="thumbnail" href="./img/monsterboll.jpg">
              <img src="./img/monsterboll.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
  </section>

</body>
</html>