<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Publication | "; %>
<% var dir ="../"; %>
<% var url ="publication/"; %>
<% var image_url ="publication/img/mistflow.jpg"; %>
<% var description ="大峠 和基 (Otao Kazuki) - Publication"; %>
<% include ./../ejs/head_profile %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <h2>Publication</h2>

      <h3>Book - 書籍</h3>
      <ol>
        <li>
          <a href="https://www.cmcbooks.co.jp/products/detail.php?product_id=5450" target="_blank">山本裕紹 監修. 空中ディスプレイの開発と応用展開 (Recent Developments and Prospective Applications of Aerial Display). シーエムシー出版, 2018, 267p. (第Ⅲ編，第9章を分担執筆)</a>
        </li>
      </ol>

      <div id="publication"></div>

    </div>
  </section>

<script>
$(window).on("load",function(){
  
  $.getJSON("./data/publication.json", function(data, status) {

    var publication = $("#publication");

    $.each(data, function(i, parent) {
      publication.append($("<h3></h3>").html(i));
      ol = $("<ol></ol>");

      $.each(parent, function(i, item) {
        li = $(
          '<li>' + 
          '<a href="' + item.url + '">' + item.title + '</a>' +
          '</li>');
        ol.append(li);
      });

      publication.append(ol);
    });
  })
});
</script>

</body>
</html>