<!DOCTYPE html>
<html lang="ja">
<head>
<% var title = "Publication | "; %>
<% var dir ="../"; %>
<% var url ="publication/"; %>
<% var image_url ="publication/img/mistflow.jpg"; %>
<% var description ="大峠 和基 (Otao Kazuki) - Publication"; %>
<% include ./../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ../ejs/nav %>

  <section class="section section-defalut">
    <div class="container">
      <h2>Publication</h2>
      <div id="publication"></div>
    </div>
  </section>

<script>
$(window).on("load",function(){
  
  $.getJSON("./data/publication.json", function(data, status) {

    var publication = $("#publication");

    $.each(data, function(i, parent) {
      publication.append($("<h3></h3>").html(i));
      ol = $("<ol></ol>");

      $.each(parent, function(i, item) {
        var target = item.target;
        if(target == undefined) {
          target = ""
        }

        li = $(
          '<li>' + 
          '<a href="' + item.url + '" target="' + target + '"">' + item.title + '</a>' +
          '</li>');
        ol.append(li);


        var acceptance_rate = item.acceptance_rate;
        if (acceptance_rate == undefined) {
          // acceptance_rate = ""
        } else {
          p = $('<p>Acceptance rate: ' + acceptance_rate + '</p>');
          ol.append(p);
        }
      });

      publication.append(ol);
    });
  })
});
</script>

</body>
</html>