<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="ROBOTS" content="NOINDEX"/>
<% var title = ""; %>
<% var dir ="../"; %>
<% var url ="recruit"; %>
<% var image_url ="img/jumbotron2.jpg"; %>
<% var description ="Here is Kazuki OTAO's Portforlio for Recruit."; %>
<% include ./../ejs/head %>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<% include ./../ejs/nav %>

  <header class="jumbotron">
    <div class="container">
      <h1>meo-cs.net</h1>
      <p>Here is Kazuki OTAO's Portforlio for Recruit.</p>
      <p>　</p>
    </div>
  </header>

  <section class="section section-defalut">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/fogdisplay/">
            <img class="img-responsive" src="./../img/thumbnail/fogdisplay.jpg">
          </a>
          <div class="work_caption">
            <h2>卒業研究 (高専)</h2>
            <p><span class="glyphicon glyphicon-check"></span>Research</p>
            <p><span class="glyphicon glyphicon-time"></span>2016/7 - 2017/3</p>
            <p>　</p>
            <p>　</p>
          </div>
        </div>
        <div class="work">
          <a class="work_img thumbnail" href="./../works/mealie/">
            <img class="img-responsive" src="./../img/thumbnail/mealie.jpg">
          </a>
          <div class="work_caption">
            <h2>Mealie - ミライ -</h2>
            <p><span class="glyphicon glyphicon-check"></span>Product</p>
            <p><span class="glyphicon glyphicon-home"></span>st@ck</p>
            <p><span class="glyphicon glyphicon-user"></span>4人</p>
            <p><span class="glyphicon glyphicon-time"></span>2015/11 - 2016/10</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/drofie/">
            <img class="img-responsive" src="./../img/thumbnail/drofie.jpg">
          </a>
          <div class="work_caption">
            <h2>drofie</h2>
            <p><span class="glyphicon glyphicon-check"></span>Product with Drone</p>
            <p><span class="glyphicon glyphicon-user"></span>3人</p>
            <p><span class="glyphicon glyphicon-time"></span>2016/09</p>
            <p>　</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/reink/">
            <img class="img-responsive" src="./../img/thumbnail/reink.jpg">
          </a>
          <div class="work_caption">
            <h2>Re:ink</h2>
            <p><span class="glyphicon glyphicon-check"></span>Projection Mapping</p>
            <p><span class="glyphicon glyphicon-home"></span>高専祭実行委員メイン部署</p>
            <p><span class="glyphicon glyphicon-user"></span>17人</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/12 - 2015/11</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/pianist/">
            <img class="img-responsive" src="./../img/thumbnail/pianist.jpg">
          </a>
          <div class="work_caption">
            <h2>Pianist</h2>
            <p><span class="glyphicon glyphicon-check"></span>Product by Mixed Reality </p>
            <p><span class="glyphicon glyphicon-home"></span>NewMediaClub</p>
            <p><span class="glyphicon glyphicon-user"></span>8人</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/11 - 2015/10</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/smartmakura/">
            <img class="img-responsive" src="./../img/thumbnail/smartmakura.jpg">
          </a>
          <div class="work_caption">
            <h2>Smart枕</h2>
            <p><span class="glyphicon glyphicon-check"></span>IoT with Android</p>
            <p><span class="glyphicon glyphicon-home"></span>sl@ck</p>
            <p><span class="glyphicon glyphicon-user"></span>3人</p>
            <p><span class="glyphicon glyphicon-time"></span>2014/03 - 2014/11</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/taijyanoran/">
            <img class="img-responsive" src="./../img/thumbnail/taijyanoran.jpg">
          </a>
          <div class="work_caption">
            <h2>大蛇の乱</h2>
            <p><span class="glyphicon glyphicon-check"></span>Product by AR</p>
            <p><span class="glyphicon glyphicon-home"></span>高専祭実行委員メイン部署</p>
            <p><span class="glyphicon glyphicon-user"></span>15人</p>
            <p><span class="glyphicon glyphicon-time"></span>2013/12 - 2014/11</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="work">
          <a class="work_img thumbnail" href="./../works/raziokun/">
            <img class="img-responsive" src="./../img/thumbnail/raziokun.jpg">
          </a>
          <div class="work_caption">
            <h2></span>RAZIOくん</h2>
            <p><span class="glyphicon glyphicon-check"></span>Product by Kinect</p>
            <p><span class="glyphicon glyphicon-home"></span>NewMediaClub</p>
            <p><span class="glyphicon glyphicon-user"></span>8人</p>
            <p><span class="glyphicon glyphicon-time"></span>2012/11 - 2013/10</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>